* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
body {
    margin: 0;
}
h1 {
    margin: 40px;
    text-align: center;
}
.container{
    margin: 100px 15%;
    /* width: clamp(500px, 80%, 1000px); */
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 20px;
}
.new-book-form {
    width: 200px;
    height: 300px;
    flex: 0 1 auto;
}
.library-container {
    flex: 1 1 auto;
    display: grid;
    /* align-content: start; */
    gap: 20px;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 125px);
}
.book-card {
    height: 125px;
    outline: 1px solid brown;
}

/* button */
.new-book-form > button {
    
}